<div class="container download">
	<div class="title__outer--wrapper download">
		<div class="title__wrapper download">
			<div class="title__inner--wrapper download">
				<h2 class="title-text">Discover new music &amp; stuff</h2>
			</div>
			<p class="body-text download">
				Consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. 
			</p>
			<div class="downloads__image--wrapper">
				<%= image_tag('download-phones.png', class: 'download-phones')%>
			</div>
			<div class="button__wrapper title download">
				<button type="button" id="#downloadButton" class="button">
					Download the app
				</button>
			</div>
		</div>
	</div>
</div>