<hr class="footer">
<div class="footer__text--wrapper">
	<ul class="left">
		<li class="footer-blue">
			<a href="#">
				Homepage
			</a>
		</li>
		<li class="footer-blue">
			<a href="#">
				Services
			</a>
		</li>
		<li class="footer-blue">
			<a href="#">
				About us
			</a>
		</li>
		<li class="footer-blue">
			<a href="#">
				Contact
			</a>
		</li>
	</ul>
	<span class="right">
		<p class="footer-blue">
			Copyright ⓒ 2015. All rights reserved by Selus
		</p>
	</span>
</div>	
