<div class="headphones__wrapper">
	<div class="headphones__image-wrapper">
		<%= image_tag('headphones-image.png', class: "headphones")%>
	</div>	
	<div class="headphones__container">
		<h2 class="title-text text__align--center"><span class="text__align--center  blue">Selus</span> is for music</h2>
		<p class="headphones body-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. Curabitur aliquet lacus sit amet metus molestie ultrices vel in nibh. Sed sit amet feugiat turpis, ut bibendum velit. In et felis mauris.
		</p>
		<div class="button__wrapper headphones">
			<button type="button" id="#headphonesButton" class="button">
				View more
			</button>
		</div>
	</div>
</div>