<div class="perspective__wrapper">
	<div class="perspective__container">
		<h3 class="title-text">Lorem ipsum dolor sit amet</h2>
		<p class="perspective body-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. Curabitur aliquet lacus sit amet metus molestie ultrices vel in nibh. Sed sit amet feugiat turpis, ut bibendum velit. In et felis mauris.
		</p>
	</div>
	<div class="perspective__image-wrapper">
		<%= image_tag('perspective-image.png', class: "perspective")%>
	</div>
</div>