<div class="cms__wrapper">
	<h1 class="white text-aligned__center">
		CMS
	</h1>
	<div class="container">
		<div class="cms__links--outer-wrapper">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<%= link_to ('<i class="big-icon fa fa-user" aria-hidden="true"></i><br><h2 class="cms__link text-aligned__center">Users</h2>').html_safe, users_path, class: "cms__link" %>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<%= link_to ('<i class="big-icon fa fa-file-text-o" aria-hidden="true"></i><br><h2 class="cms__link text-aligned__center">Posts</h2>').html_safe, posts_path, class: "cms__link"%>
			</div>
	</div>
</div>	