<div class="container">
	<div class="title__outer--wrapper">
		<div class="title__wrapper">
			<div class="title__inner--wrapper">
				<h2 class="title-text"><span class="blue">Selus</span> is cool app</h2>
			</div>
			<div class="button__wrapper title">
				<button type="button" id="#titleButton" class="button">
					Explore
				</button>
			</div>
		</div>
	</div>
</div>