<!-- Title Section -->
<div class="container">
	<div class="title__outer--wrapper">
		<div class="title__wrapper">
			<div class="title__inner--wrapper">
				<h2 class="title-text"><span class="blue">Selus</span> is cool app</h2>
			</div>
			<div class="button__wrapper title">
				<button type="button" id="#titleButton" class="button">
					Explore
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Screens Section -->
<div class="screens__wrapper">
	<div class="container">
		<div class="screens__image--wrapper small col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<%= image_tag('screens-image-1.png', class: "screens")%>
		</div>
		<div class="screens__image--wrapper large col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<%= image_tag('screens-image-2.png', class: "screens")%>
		</div>
		<div class="screens__image--wrapper small col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<%= image_tag('screens-image-3.png', class: "screens")%>
		</div>
	</div>
</div>

<!-- Headphones Section -->

<div class="headphones__wrapper">
		<div class="headphones__image-wrapper">
			<%= image_tag('headphones-image.png', class: "headphones")%>
		</div>	
		<div class="headphones__container">
			<h2 class="title-text"><span class="blue">Selus</span> is for music</h2>
			<p class="headphones body-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum condimentum massa, in sagittis dolor feugiat id. Morbi pharetra elit non lorem elementum iaculis. Curabitur aliquet lacus sit amet metus molestie ultrices vel in nibh. Sed sit amet feugiat turpis, ut bibendum velit. In et felis mauris.
			</p>
			<div class="button__wrapper headphones">
				<button type="button" id="#headphonesButton" class="button">
					View more
				</button>
			</div>
		</div>
</div>