$white: #fff;
$light-gray-1: #F5F5F5; // whitesmoke
$light-gray-2: #DCDCDC; // gainsboro
$mid-gray: #BEBEBE; // Gray

$light-blue: #66778e; //Selus
$blue: #2a5da3; //Selus
$dark-blue: #153b6d; //Selus
$red: #ff3334; //Selus
$blue-gray: #66778e; //Selus